{
  schema,
  [
    {version, "1.1"},
    {default_field, "n"},
    {default_op, "or"},
    {n_val, 3},
    {analyzer_factory, {erlang, text_analyzers, noop_analyzer_factory}}
  ],
  [
    %% db.mapper version field, ignore
    {field, [
      {name, "_V"},
      {skip, true}
    ]},

    %% Name
    {field, [
      {name, "n"},
      {analyzer_factory, {erlang, text_analyzers, noop_analyzer_factory}}
    ]},

    %% Capabilities
    %% This is space-separated list of capability strings
    {field, [
      {name, "c"},
      {analyzer_factory, {erlang, text_analyzers, whitespace_analyzer_factory}}
    ]}
  ]
}.


%% vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8 syn=erlang:
